<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=siteTitle%>: LOGOUT</title>

	<% include ../../partials/head %>
	<link rel="stylesheet" href="/css/core.css">
</head>
<body>
	<% include ../../partials/header %>
	<div id="main-container" class="container">
		<div class="row">
			<div class="col-lg-5">
				<h2>YOU ARE NOW LOGOUT</h2>
				<p>Thank you for comming, please comeback again... <a href="/">Home</a></p>
			</div>
		</div>
	</div>
	<% include ../../partials/footer %>
	<!--Page scripts-->
	<script type="text/javascript" src="/js/pages/auth/login.js"></script>
</body>
</html>