<br>
<br>
<footer class="text-center">
	<p><%=siteCopy %></p>
</footer>
<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/pnotify/dist/pnotify.js"></script>
<script type="text/javascript" src="/pnotify/dist/pnotify.buttons.js"></script>
<script type="text/javascript" src="/pnotify/dist/pnotify.animate.js"></script>
<script type="text/javascript" src="/js/core.js"></script>