body {
	background-color: #222;
	color: #fff;
}

.well {
	color: #222;
}

.panel .panel-body {
	color: #222;
}


#main-container {
	margin-top: 75px;
}

#my-nav {
	height: 75px;
}
.table-hover tbody tr:hover {
	color: #222;
}

#user-preview {
	width: 250px;
	height: 150px;
}